div{
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 60vh;
    background-image: linear-gradient(30deg, #11cf4d, #055e21);
    border-top-right-radius: 90px;
    

    
}
div h2{
    padding: 40px 0 0 0;
    cursor: pointer;

}

div a{
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    outline: none;
}
div a:hover{
    color: #56ff38;
    background: #fff;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    animation-name: unset;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid green;
    border-radius: 9px;

}
.btn{
    padding: 8px 20px;
    margin: 7px 0px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: greenyellow;
    cursor: pointer;
    position: absolute;
}
.btn-sm{
    padding: 6px 10px;
    position: relative;
   
}
.firstsection{color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 60vh;
    background-image: linear-gradient(30deg, #11cf4d, #055e21);
    border-top-right-radius: 90px;
    

}
.firstsection h2{padding: 40px 0 0 0;
    cursor: pointer;


}
.firstsection a{font-size: 14px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    outline: none;

}
.firstsection a:hover{
    color: yellow;
    background: #fff;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

